* {
  box-sizing: border-box;
  transition: all .25s; 
	font-family: 'Source Sans Pro', sans-serif;
}
:root {
  --main-color: #FFCF07;
  --dark-gray: #383F43;
  --medium-gray: #9C9FA1;
  --light-gray: #EBECEC;
  --tooltip-color: var(--dark-gray);
}
body {
	overflow: hidden;
	font-size: 16px;
}
button,
input { /* 1 */
  overflow: visible;
}
button,
select { /* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  outline: none;
}
button::-moz-focus-inner {
   border: 0;
}
button {
  margin: 0;
  padding: 0;
  white-space: normal;
  display: inline;
  background: none;
  outline: none;
  border: none;
  text-align: left;
  font: inherit;
}
input,
select {
  padding: 4px 9px;
  display: inline-block;
  border: 2px solid var(--medium-gray);
  border-radius: 2px;
  font: inherit;
  font-weight: bold;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
p {
	line-height: 1.5;
}
h1 {
	margin-bottom: 0;
}
.transition {
	transition: all .25s !important;
	transform: translate3d(-120%,0,0);
}
#slideable {
	transition: unset;
}
#location-form{
	overflow-x: hidden;
}
#fiftypercent {
	display: flex;
}
#fiftypercent div {
	flex: 1 1 20px;
	background-color: var(--light-gray);
	padding:0.5rem;
	border-radius: 2px;
}
#fiftypercent div:last-child{
	margin: 0 0 0 .5rem;
}
#fiftypercent div:first-child{
	margin: 0 .5rem 0 0;
}

#fiftypercent input {
	width: 100%;
}

#movements {
	display: grid;
	grid-template-columns: 20px 1fr;
	grid-gap: 1rem;
}
#onboard-form > * {
	margin-top: 1rem;
}
#statsList {
 display: grid;
 grid-template-columns: 1fr 8rem;
 grid-gap: 1rem;
}
#statsList input {
	width: 2.3rem;
}
.statsListLeft {
	white-space: nowrap;
	overflow: hidden;
}
.statsListLeft label {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: calc(100% - 2.2rem);
	display: inline-block;
	vertical-align: middle;
}
#notification {
	margin-left: -2rem;
	margin-right: -2rem;
	background-color: var(--medium-gray);
	color: white;
	padding: 1rem 2rem;
}
/*  SPINNER  */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes change {
  from { /*Use "to" to change the direction */
    background-position:bottom right,top left;
  }
}
#spin-container {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin: 0;
	padding: 0;
	background:
    linear-gradient(to bottom right,rgba(255, 255, 255, 0.3) 33%,white,rgba(255, 255, 255, 0.3) 66%);
  background-size:300% 300%,cover;
  animation: change 2s linear infinite;
}
#spin-container.spin  {
	display: flex;
}
#spinner {
	width: 70px;
	height: 70px;
	border-top: 5px solid var(--main-color);
	border-right: 5px solid transparent;
	border-radius: 50%;
	animation: spin 2s linear infinite;
	margin: 0;
	padding: 0;
}
.cards {
	position: relative;
	margin-bottom: 2rem;
	margin-top: 1rem;
}
.card {
	width: min(40vw, 450px * 0.4);
	height: max(30vh, 200px);
	filter: drop-shadow(0 0.1rem 0.25rem var(--medium-gray));
	background-color: white;
	padding: .5rem;
	text-align: center;
	vertical-align: bottom;
}
.card > img {
	position: relative;
	top: -1.5rem;
}
.card > p {
	margin-top: 0;
}
.left {
	position: absolute;
	left:0;
}
.right {
	position: absolute;
	right:0;
}
.center {
	margin-left: auto;
	margin-right: auto;
	margin-top: calc(max(30vh, 200px) - 1rem);
}
.bottom-button {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
	margin-bottom: 1rem;
}

.hideLeft {
	transform: translate3d(-100vw, 0px, 0px);
	opacity: 0;
}

.questions {
	font-size: small;
	display: block;
	text-align: center;
	color: gray;
	margin-bottom: 1rem;
}

button {
	color: #fff;
	background-color: var(--main-color);
	border-color: var(--main-color);
	display: inline-block;
	font-weight: bold;
	text-align: center;
	touch-action: manipulation;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 0px 14px;
	border-radius: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
button.white {
	background-color: white;
	color: black;
}
button:active,
button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}
.screen {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	transform: translate3d(100%,0,0);
	padding: 0 1rem 0 1rem;
	overflow-y: auto;
}
.last-el-bottom {
	display: flex;
	flex-direction: column;
}
.last-el-bottom > *:last-child {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.last-el-bottom > * {
	flex-shrink: 0;
}

.fl {
	float: left;
}
.dn {
	position: absolute;
	top: -200px;
}
.round {
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 100px;
	box-shadow: 0 0 4px var(--main-color);
	text-align: center;
	vertical-align: middle;
	line-height: 45px; 
	margin-left: .5rem; 
	cursor: pointer;
}
input:checked + .round {
	background-color: var(--main-color);
	color: white;
}
.clicky {
	cursor: pointer;
}
.tooLow {
	position: relative;
}
.tooLow:after {
  position: absolute;
  width: min(300px, 45vw);
  right: 100px;
  bottom: 1rem;
  padding: 1rem;
	content: attr(data-over);
  font-size: small;
  color: red;
  background: white;
  font-style: italic;
  overflow-wrap: break-word;
  border: 1px gray solid;
  border-radius: 2rem;
  border-bottom-right-radius: 0;
}
.tooLow:hover:after {
  opacity: 0.2;
  transition: .2s;
}
.row {
	display: flex;
	max-height:400px;
	padding-bottom: 2rem;
}
.columnL {
	flex: 150px 0 0;
}
.row.collapse {
	max-height: 0;
	overflow: hidden;
}
/*collapse all rows*/
.active .row {
	max-height: 0;
	overflow: hidden;
	padding: 0;
}

/* Uncollapse / Collapse in active row */
.active .active .activeHide,
.activeShow {
	max-height: 0;
	overflow: hidden;
	border-width: 0;
}
.activeHide,
.active .active,
.active #submit,
.active #addLocation,
.active .active .activeShow {
	max-height: 300px;
}
.active .row.active {
	padding-bottom: 2rem;
}
#addLocation {
	padding-top: 2rem;
	float: right;
}
#submit {
	margin-left: auto;
	margin-right: auto;
	margin-top:2rem;
	margin-bottom:2rem;
}
h2 {
	color: var(--main-color);
}
h4 {
	color: var(--medium-gray);
	font-weight: normal;
	text-align: end;
}
button {
	height: 2rem;
}
.row img {
	width: 100px;
	height: 100px;
}
select {
	width: 100%;
	padding: 1rem;
}
.homepage #homepage,
.onboarding #onboarding,
.locations #locations,
.summary #summary {
	transform: translate3d(0,0,0);
}
#movement {
	margin: 0;
}
#reminder {
	position: relative;
}
#reminder > button {
	position:relative;
	z-index: 10;
}
#hiddenReminder {
	position: absolute;
	display: none;
	top: 2rem;
	background-color: white;
	filter: drop-shadow(0 0.1rem 0.25rem var(--medium-gray));
	z-index: 10;
	padding: 1rem;
	border-radius: 4px;
	width: calc(100% + 2rem);
	left: -1rem;
}
#hiddenReminder button {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#hiddenReminder > * {
	margin-bottom: 1rem;
	width: 100%;
}
#blurBackground {
	position: fixed;
	display:none;
  z-index: 9;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.1);
  height: 100vh;
  width: 100vw;
}
.day-of-week {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5%;
}
.day-of-week input {
    display: none;
}
.day-of-week input:checked+label {
  color: #fff;
  background: #000;
  border: 1px solid green;
}
.day-of-week input+label {
  color: #000;
  background: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  text-align: center;
  display: grid;
  cursor: pointer;
  padding-bottom: calc(50% - .5rem);
  padding-top: calc(50% - .4rem);
}
/*+/- Buttons*/
/*TOOLTIP CSS*/
.statsListRight span {
  line-height: 2;
  text-align: center;
  text-shadow: 0 1px rgba( 0, 0, 0, .25 );
  color: var(--medium-gray);
  border-radius: 50%;
  border: 1px solid var(--medium-gray);
  display: inline-block;
  width: 2rem;
  margin: 0 .3rem;
}
span[rel="tooltip"] {
  font-size: .8rem;
  line-height: 1.6;
  text-align: center;
  text-shadow: 0 1px rgba( 0, 0, 0, .25 );
  color: var(--medium-gray);
  border-radius: 50%;
  border: 1px solid var(--medium-gray);
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  padding-top: .1rem;
}
span[rel="tooltip"] {
  cursor: help;
}
#statsList span.button {
	cursor: pointer;
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#tooltip {
  text-align: center;
  color: #fff;
  background: var(--tooltip-color);
  position: absolute;
  z-index: 100;
  padding: 15px;
}
 
#tooltip:after { /* triangle decoration */
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid var(--tooltip-color);
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	margin-left: -10px;
}

#tooltip.top:after {
  border-top-color: transparent;
  border-bottom: 10px solid var(--tooltip-color);
  top: -20px;
  bottom: auto;
}

#tooltip.left:after {
  left: 10px;
  margin: 0;
}

#tooltip.right:after {
  right: 10px;
  left: auto;
  margin: 0;
}
@media only screen and (min-device-width: 500px){
	.screen {
	  padding-left: calc((100vw - 450px)/2);
	  padding-right: calc((100vw - 450px)/2);	
	}
}

